<!doctype html>
<html lang="En">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/edff7358ca.js" crossorigin="anonymous"></script>
    <title>document</title>
</head>
<body>
<!--navigation-->
{{>layouts/header}}
<!--content-->
<h1>{{username}} Hello!</h1>
<div class="container">
    <div class="bg first">
        <h4>Sunrise United Methodist Church</h4>
        <p>We Joyfully Embrace God's Acceptance And Love Of All People. </p>
        <button class="mouse"><i class="fa-solid fa-circle-arrow-down"></i></button>
        <img src="/img/me_alone.jpg" alt="my pic">
    </div>
</div>
<!--site info-->
{{>layouts/footer}}
    <!-- Optional JavaScript; choose one of the two! -->
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


</body>
</html>